@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Permanent Marker", serif;
    background-image: linear-gradient(to right , #222 , #111);
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="%23000000" stroke="%23545454" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') , auto ;
  } 
  .aspect-ratio-body{
    height: 4000px;
  }
  .display-body{
    height: 1500px;
  }
  .position-body{
    height: 700px;
  }
  .top-right-bottom-left-body{
    height: 50300px;
  }
  .isolation-body{
    height: 600px;
  }
  .object-fit-body{
    height: 700px;
  }
  .overflow-body{
    height: 1200px;
  }
  .float-body{
    height: 600px;
  }
  .clear-body{
    height: 600px;
  }
  .z-index-body{
    height: 1200px;
  }
  .flex-basis-body{
    height: 10300px;
  }
  .flex-direction-body{
    height: 600px;
  }
  .flex-shorthand-body{
    height: 600px;
  }
  .jq{
    margin-top: 15px;
    width:fit-content;
    padding:7px;
    background-color: green;
    text-align: center;
    color:white
}
.notify{
    background-color: green;
    color: white;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    position: fixed;
    right: -100%;
    top: 15%;
}
.scroll-indicator {
    width: 100%;
    height: 10px;
    background: #333333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: visible;
}
.progress {
    width: 0%;
    height: 10px;
    background-image: linear-gradient( 90deg, rgb(150, 255, 0) ,rgb(0, 255, 0));
}
.scrollToTopBtn {
    background-color: rgb(115, 255, 0);
    border: 2px solid rgb(115, 255, 0);
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 65px;
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    border-radius: 1000px;
    transition: all 0.5s ease;
}
.scrollToTopBtn:hover{
    background-color: transparent;
}
.scrollToTopBtn:hover i{
    color: rgb(115, 255, 0);
}
.scrollToTopBtn i {
    color: #172127;
    font-size: 25px;
}
.showBtn {
    opacity: 1;
    transform: translateY(0);
}
  a{
    text-decoration: none;
    transition: .5s;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="%23FDFDFD" stroke="%232F2F2F" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>') , pointer;
  }
  .sidebar-title{
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #000;
  }
  .active a{
    color: #0fa;
  }
  .active a:hover{
    color: #0fa;
  }
  .nav{
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10000000000000000;
  }
  .logo{
      color: white;
      font-size: 38px;
  }
  .li{
      margin-top: 30px;
  }
  .li1{
      margin-left: 5%;
  }
  .li2{
      margin-top: 23px;
  }
  .li3{
      margin-right: 5%;
  }
  .docs-button {
      padding: 18px 35px;
      border: #007653 2px solid;
      border-radius: 30px;
      color: #fff;
      transition: 0.2s all ease-in-out;
  }
  .docs-button:hover{
      background-color:  #007653 ;
      color: #000;
  }
  .download-button{
      padding: 18px 35px;
      border: #007653 2px solid;
      border-radius: 30px;
      color: #fff;
      transition: 0.2s all ease-in-out;
  }
  .download-button:hover{
    background-color:  #007653 ;
    color: #000;
  }
  nav{
    background-color: rgba(73, 73, 73, 0.315);
    width: fit-content;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 100px;
    overflow-y: scroll;
    height: 90%;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  nav li{
    margin-left: 30px;
    margin-bottom: 20px;
    height: 50px;
  }
  nav a{
    height: 100%;
    text-decoration: none;
    display: flex;
    width: 200px;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
  }
  nav a:hover{
    color: black;  
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 100px; 
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    height: 90%;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  .note{
    position: absolute;
    top: 100px;
    background-color: #60ff4b86;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    left: 300px;
  }
  .note span{
    color: #333;
    font-size: 26px;
  }
  table{
    position: absolute;
    top: 250px;
    left: 300px;
    color: white;
  }
  .aspect-ratio{
    height: 3500px;
  }
  .box-sizing{
    height: 150px;
  }
  .display{
    height: 1200px;
  }
  .position{
    height: 350px;
  }
  .top-right-bottom-left{
    height: 50000px;
  }
  .isolation{
    height: 150px;
  }
  .object-fit{
    height: 300px;
  }
  .overflow{
    height: 800px;
  }
  .float{
    height: 300px;
  }
  .clear{
    height: 250px;
  }
  .z-index{
    height: 800px;
  }
  .flex-basis{
    height: 10000px;
  }
  .flex-direction{
    height: 250px;
  }
  .flex-shorthand{
    height: 250px;
  }
  .class{
    position: absolute;
    left: -20px;
    font-size: 40px;
    font-weight: 200;
    font-family: Arial;
  }
  .style{
    position: relative;
    left: 280px;
    font-size: 40px;
    font-weight: 200;
    font-family: Arial;
  }
  tr::before{
    content: "";
    width: 300px;
    height: 2px;
    background-color: rgb(155, 155, 155);
  }
  .first{
    color: oklch(.702 .183 293.541);
  }
  .second{
    color: oklch(.685 .169 237.323);
    position: relative;
    left: 150px;
  }
  table tr{
    position: relative;
    left: 150px;
    letter-spacing: 0;
    font-size: 18px;
    font-family: monospace;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    nav{
      overflow-y: hidden;
      height: auto;
    }
    nav li{
      margin-bottom: 20px;
    }
    svg{
      margin-top: 20px;
    }
  }